#ignore folders/directories
certifi/
contourpy/
customtkinter/
kiwisolver/
markupsafe/
matplotlib/
matplotlib.libs/
numpy/
pandas/
PIL/
PyQt5/
Pythonwin/
pytz/
pywin32_system32/
setupinfo/
setuptools-65.5.0.dist-info/
tcl/
tcl8/
tk/
win32/
win32.com/

#ignore the .pyd files
asyncio.pyd
_bz2.pyd
_ctffi_backend.cp311-win_amd64.pyd
_ctypes.pyd
_decimal.pyd
_elementtree.pyd
_hashlib.pyd
_lzma.pyd
_multiprocessing.pyd
_overlapped.pyd
_queue.pyd
_socket.pyd
_sqlite3.pyd
_ssl.pyd
_tkinter.pyd
_uuid.pyd
unicodedata.pyd


#ignore the .dll files
VCRUNTIME140.dll
VCRUNTIME140_1.dll
tk86t.dll
tcl86t.dll
python311.dll
python3.dll
libssl-1_1.dll
libopenblas64_v0.3.21-gcc_10_3_0.dll
libffi-8.dll
libcrypto-1_1.dll






